*,
::after,
::before {
  box-sizing: border-box;
}

main {
  display: grid;
  width: 340px;
  height: 210px;
  text-align: center;
  font-size: 24px;
  margin-left: 100px;

  grid-template-areas:
    "aa21 aa13 aa13 aa13 aa13"
    "aa21 aaa3 aaa2 aaa2 aaa8"
    "aa21 aaa3 aaa1 bbb1 aaa8"
    "aa21 aaa5 aaa5 aaa5 aaa8";

  grid-template-columns: 21fr 3fr 1fr 1fr 8fr;
}

main > div {
  background-color: blueviolet;
  _border-radius: 5% 10% 20% 40%;
}

.fibo1 {
  grid-area: aaa1;
  background-color: #004d66;
  height: 10px;
}

.fibo2 {
  grid-area: bbb1;
  background-color: #004d66;
  height: 10px;
}

.fibo3 {
  grid-area: aaa2;
  background-color: #006080;
  height: 20px;
}

.fibo4 {
  grid-area: aaa3;
  background-color: #007399;
  height: 30px;
}

.fibo5 {
  grid-area: aaa5;
  background-color: #0086b3;
  height: 50px;
}

.fibo6 {
  grid-area: aaa8;
  background-color: #0099cc;
  height: 80px;
}

.fibo7 {
  grid-area: aa13;
  background-color: #00ace6;
  height: 130px;
}

.fibo8 {
  grid-area: aa21;
  background-color: #00bfff;
  height: 210px;
}

.fibo9 {
  grid-area: aa34;
  background-color: #1ac6ff;
}

.fibo10 {
  grid-area: aa55;
  background-color: #33ccff;
}

.fibo11 {
  grid-area: aa89;
  background-color: #4dd2ff;
}

.fibo12 {
  grid-area: a144;
  background-color: #66d9ff;
}

.fibo13 {
  grid-area: a233;
  background-color: #80dfff;
}

.fibo14 {
  grid-area: a377;
  background-color: #99e6ff;
}

.fibo15 {
  grid-area: a610;
  background-color: #b3ecff;
}

.fibo16 {
  grid-area: a987;
  background-color: #ccf2ff;
}

main div:nth-child(9),
main div:nth-child(10),
main div:nth-child(11),
main div:nth-child(12),
main div:nth-child(13),
main div:nth-child(14),
main div:nth-child(15),
main div:nth-child(16) {
  display: none;
}
