*,
::after,
::before {
  box-sizing: border-box;
}

main {
  display: grid;
  width: 3050px;
  height: 1538.5px;
  text-align: center;
  font-size: 18px;

  grid-template-areas:
    "a144 aa89 aa89 aa89 aa89 aa89 aa89 a377"
    "a144 aa21 aa13 aa13 aa13 aa13 aa55 a377"
    "a144 aa21 aaa3 aaa2 aaa2 aaa8 aa55 a377"
    "a144 aa21 aaa3 aaa1 bbb1 aaa8 aa55 a377"
    "a144 aa21 aaa5 aaa5 aaa5 aaa8 aa55 a377"
    "a144 aa34 aa34 aa34 aa34 aa34 aa55 a377"
    "a233 a233 a233 a233 a233 a233 a233 a377";

  grid-template-columns: 144fr 21fr 3fr 1fr 1fr 8fr 55fr 377fr;
}

main > div {
  border-radius: 10% 20% 40% 60%;
  align-self: center;
  text-align: center;
}

.fibo1 {
  grid-area: aaa1;
  background-color: #004d66;
  height: 5px;
}

.fibo2 {
  grid-area: bbb1;
  background-color: #004d66;
  height: 5px;
}

.fibo3 {
  grid-area: aaa2;
  background-color: #006080;
  height: 10px;
}

.fibo4 {
  grid-area: aaa3;
  background-color: #007399;
  height: 15px;
}

.fibo5 {
  grid-area: aaa5;
  background-color: #0086b3;
  height: 25px;
}

.fibo6 {
  grid-area: aaa8;
  background-color: #0099cc;
  height: 40px;
}

.fibo7 {
  grid-area: aa13;
  background-color: #00ace6;
  height: 65px;
}

.fibo8 {
  grid-area: aa21;
  background-color: #00bfff;
  height: 105px;
}

.fibo9 {
  grid-area: aa34;
  background-color: #1ac6ff;
  height: 170px;
}

.fibo10 {
  grid-area: aa55;
  background-color: #33ccff;
  height: 275px;
}

.fibo11 {
  grid-area: aa89;
  background-color: #4dd2ff;
  height: 445px;
}

.fibo12 {
  grid-area: a144;
  background-color: #66d9ff;
  height: 720px;
}

.fibo13 {
  grid-area: a233;
  background-color: #80dfff;
  height: 1165px;
}

.fibo14 {
  grid-area: a377;
  background-color: #99e6ff;
  height: 1885px;
}

.fibo15 {
  grid-area: a610;
  background-color: #b3ecff;
}

.fibo16 {
  grid-area: a987;
  background-color: #ccf2ff;
}

main div:nth-child(15),
main div:nth-child(16) {
  display: none;
}
