::before,
::after {
  box-sizing: border-box;
}

main {
  border: 1px solid black;
  display: grid;
  background-color: rgb(238, 175, 94);
  width: 100%;
  height: 95vh;
  grid-template-areas:
    "header header header header"
    "aside-left main-content main-content aside-right"
    "aside-left subcontent-1 subcontent-2 aside-right"
    "aside-left subcontent-3 subcontent-3 aside-right"
    "footer footer footer extras";
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 80fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  font-size: 26px;
}

main div {
  border: 2px solid black;
  padding: 2em;
  background-color: darkcyan;
}

.header {
  grid-area: header;
}

.aside-left {
  grid-area: aside-left;
}

.aside-right {
  grid-area: aside-right;
}

.main-content {
  grid-area: main-content;
}

.subcontent-1 {
  grid-area: subcontent-1;
}

.subcontent-2 {
  grid-area: subcontent-2;
}

.subcontent-3 {
  grid-area: subcontent-3;
}

.extras {
  grid-area: extras;
}

.footer {
  grid-area: footer;
}
